<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cutesource="http://chen.csdn.net/cutesource/schema/people"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://chen.csdn.net/cutesource/schema/people
                            http://chen.csdn.net/cutesource/schema/people.xsd">

<!--    <context:annotation-config/>-->

    <bean id="personDao" class="com.example.demo.imitate.annotation.dao.impl.PersonDaoImpl" />
    <bean id="personService" class="com.example.demo.imitate.annotation.service.impl.PersonServiceImpl"/>


    <cutesource:people id="no1" name="袁志俊" age="27"/>
</beans>